body{
    margin: 0px;
}

.continer {
    background-color: salmon;
    width: 100%;
    min-height: 300px;
}

nav.navbar {
    background-color: red;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    
}

nav.navbar a {
    font-size: 26px;
    text-decoration: none;
    color: black;

}

nav.navbar li {
    margin-bottom: 10px; border-color: blue;
    
}
nav.navbar li:last-child {
    border-bottom: none;
}
ul {
    text-align: center;
    line-height: 20px;
    font-size: 22px;
}
@media(min-width:768px){
    .continer {
        background-color: #0e90e7;
        width: 750px;
        margin: 0 auto;

    }  

    nav.navbar li {
        display: inline-block;
    }
}
 @media(min-width: 992px){
     .continer {
         background-color: #a3e608;
         width: 990px;
     }
 }
