body{
    margin: 0px;
}

.continer {
    background-color: salmon;
    width: 100%;
    min-height: 300px;
}

@media(min-width:760px){
    .continer {
        background-color: #0e90e7;
        width: 750px;
        margin: 0 auto;

    }  
}
 @media(min-width: 992px){
     .continer {
         background-color: #a3e608;
         width: 990px;
     }
 }
