.container {
    background-color: white;
    margin:auto;
}
.red {
    background-color:  white;
}
.blue {
    background-color:  white;
}
.yellow {
    background-color:  white;
}
.lightblue {
    background-color:  white;
}
.green {
    background-color:  white;
}
.pink {
    background-color:  white;

}
.black {
    background-color:  white;
}
.lightgreen {
    background-color:  white;
}
.darkpink {
    background-color:  white;
}
.clearfix {
    clear: both;
}
/*****small screen********/
@media (min-width: 450px){
    .small-width-25 {
        width: 25%;
    }
    .small-width-33 {
        width: 33.333%;
    }
    .small-width-50 {
        width: 50%;
    }
    .small-width-100 {
        width: 100%;
    }

}
/*****medium screen********/
@media (min-width: 768px){
    .medium-width-25 {
        width: 25%;
    }
    .medium-width-33 {
        width: 33.333%;
    }
    .medium-width-50 {
        width: 50%;
    }
    .medium-width-100 {
        width: 100%;
    }
}
/*****larg screen********/
@media (min-width: 992px){
    .larg-width-25 {
        width: 25%;
    }
    .larg-width-33 {
        width: 33.333%;
    }
    .larg-width-50 {
        width: 50%;
    }
    .larg-width-100 {
        width: 100%;
    }
    .larg-height-400 {
        height: 400px;
    }
}
.clearfix {
    clear: both;
}