.floater-section {
    float: left;
    width: 100%;
    min-height: 150px;
}
a {
    text-decoration: none;
}
h1 {
    text-align: left;
    font-family: 'Dancing Script', cursive;
    color: white;
    padding: 0ex;
    padding-left: 4ex;
    position: relative;
}
h2 {
    text-align: center;
    font-family:'Playfair Display', serif;
    font-size: 30vw;
    color: white;
    margin: 0px;
    display: block;
}
h3 {
    font-family: 'Playfair Display', serif;
    font-size: 22vw;
    color: white;
    margin: 0em;
    margin-right: 0.6ex;
    padding-top: 12px;
    float: right;
}
.last-child {
    padding-right: 3.5px;
}
.menu-title {
    float: left;
    margin-left: 0.5ex;
}
p {
    text-align: center;
    margin: 0px;
    color: white;
    margin-right: 5ex;
    font-family:'Sree Krushnadevaraya', serif;
    font-size: 2.5e;
    display: inline;
   
}
#MenuP {
    margin-left: 1ex;
}
.home-p {
    margin: 0px;
    color: white;
    margin-right: 5ex;
    margin-top: -2ex;
    font-family:'Playfair Display', serif;
    font-size: 4.5vw;
    display: block;
    float: right;
}
.contact-p {
    display: block;
    font-size: 1.3em;
    float: none;
}
#HomeC {
    float: left;
    margin-left: 42.5vw;
    margin-top: 9ex;
    position: fixed;
}
#MenuC {
    margin-left: 4ex;
    margin-top: 3ex;
}
#ContactC {
    float: right;
    padding-right: 2em;
    padding-top: 1em;
}
#MenuDown {
    margin-left: 3em;
    margin-top: 3em;
}
#RichWich {
    float: right;
    margin-right: 2ex;
    font-size: 3.7ex;
    margin-top: 6ex;
}
/*** form ***/
input[type=text], select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid red;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 10px;
    resize: vertical;
  }
input[type=done] {
  background-color:#8c1610;
  color: white;
  padding: 10px 15px;
  border: solid red;
  border-radius: 5px;
}
.form-holder {
  font-family: 'Sree Krushnadevaraya', serif;
  border-radius: 5px;
  background-color: #8c1610;
  padding: 10px;
  color: white;
}

/*** font families: 
font-family: 'Dancing Script', cursive;
font-family: 'Playfair Display', serif;
font-family: 'Sree Krushnadevaraya', serif; 
***/