.floater-section {
    float: left;
    width: 100%;
    min-height: 150px;
}
h1 {
    text-align: left;
    font-family: 'Dancing Script', cursive;
    color: white;
    padding: 0ex;
    padding-left: 4ex;
    position: relative;
}
h2 {
    text-align: center;
    font-family:'Playfair Display', serif;
    font-size: 30vw;
    color: white;
    margin: 0px;
    display: block;
}
h3 {
    font-family: 'Playfair Display', serif;
    font-size: 22vw;
    color: white;
    margin: 0em;
    margin-right: 0.6ex;
    padding-top: 12px;
    float: right;
}
.last-child {
    padding-right: 4px;
}
.menu-title {
    float: left;
    margin-left: 0.5ex;
}
p {
    text-align: center;
    margin: 0px;
    color: white;
    margin-right: 5ex;
    font-family:'Sree Krushnadevaraya', serif;
    font-size: 2.5e;
    display: inline;
   
}
#MenuP {
    margin-left: 1ex;
}
.home-p {
    margin: 0px;
    color: white;
    margin-right: 5ex;
    margin-top: -2ex;
    font-family:'Playfair Display', serif;
    font-size: 4.5vw;
    display: block;
    float: right;
}
#HomeC {
    float: left;
    margin-left: 42.5vw;
    margin-top: 9ex;
    position: fixed;
}
#MenuC {
    margin-left: 4ex;
    margin-top: 3ex;
}
#MenuDown {
    margin-left: 3em;
    margin-top: 3em;
}
#RichWich {
    float: right;
    margin-right: 2ex;
    font-size: 3.7ex;
    margin-top: 6ex;
}

/*** font families: 
font-family: 'Dancing Script', cursive;
font-family: 'Playfair Display', serif;
font-family: 'Sree Krushnadevaraya', serif; 
***/