.container {
    background-color: gray;
}
.red {
    background-color: red;
}
.blue {
    background-color: blue;
}
.yellow {
    background-color: yellow;
}
.lightblue {
    background-color: lightblue;
}
.green {
    background-color: green;
}
.pink {
    background-color: pink;

}

/*****small screen********/

/*****medium screen********/

/*****larg screen********/

